<a href="https://colab.research.google.com/github/Bnicola16/MIS-2800/blob/main/Nicola_HW2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# in the blank, complete the code below to import SQLlite3 into Colab
import sqlite3

In [6]:
#create HW3_AFC_North_APPG.db in temporary Colab local storage
conn = sqlite3.connect('HW3_AFC_North_APPG.db')

In [7]:
#create a strict table named HW_AFC_North_APPG
#the table should include the following information: team_name, coach, wins, losses, ties
#define the data type for each column
#team_name should be the primary key
conn.execute('''
CREATE TABLE HW_AFC_North_APPG(
  team_name TEXT PRIMARY KEY NOT NULL,
  coach TEXT,
  wins INTEGER,
  losses INTEGER,
  ties INTEGER)
  STRICT;
  ''')

In [8]:
#adding team stats based on the screenshots above
conn.execute('''
INSERT INTO HW_AFC_North_APPG (team_name, coach, wins, losses, ties)
VALUES ('Steelers', 'Mike Tomlin', 10, 7, 0),
('Ravens', 'John Harbaugh', 8, 9, 0),
('Bengals', 'Zac Taylor', 6, 11, 0),
('Browns', 'Kevin Stefanski', 5, 12, 0);
''')

In [9]:
#select all the data where teams had more than 7 wins
query = "SELECT * FROM HW_AFC_North_APPG WHERE wins > 7"
results = conn.execute(query)
for row in results:
  print(row)

('Steelers', 'Mike Tomlin', 10, 7, 0)
('Ravens', 'John Harbaugh', 8, 9, 0)

In [10]:
#Select only the team_name and wins. Sort numercially from highest to lowest based on wins
query = "SELECT team_name, wins FROM HW_AFC_North_APPG ORDER BY wins DESC"
for row in conn.execute(query):
  print(row)

('Steelers', 10)
('Ravens', 8)
('Bengals', 6)
('Browns', 5)